<nav class="bg-dark text-light text-center text-uppercase p-4 vh-100">
  <a class="text-light text-decoration-none" routerLink="/">
    <div><i class="fa fa-server"></i></div>
    <div><strong>{{title}}</strong></div>
  </a>
  <hr>
  <nav class="nav nav-pills flex-column flex-shrink-1">
    <!-- <a class="nav-link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a> -->
    <a class="nav-link" routerLinkActive="active" routerLink="/draft">Draft</a>
  </nav>
</nav>
